<%- include('partials/header') %>
    <script src="/scripts/upload.js"></script>

    <%- include('partials/sidebar') %>
        <h1>Documents page</h1>
        <div class="bodyWrap">
            <div class="contentLoginWrap">
                <%- include('partials/Fileupload.ejs') %>

            </div>
            <div class="infoSide">
                <div class="loginWrap">
                </div>
            </div>
        </div>
        </div>

        </html>