<div class="navbar">
    <div class="navbarWrap">
        <div class="navbarRow">
            <button class="hamburgerMenu hamburgerMenuOpen">
        <div></div>
        <div></div>
        <div></div>
      </button>
        </div>
        <div class="navbarRow">
            <div class="userNavbar">

                <img src="https://next.fireship.io/hacker.png" class="card-img-center" class="logo" id="logo">

                <div class="userLogged">
                    <p> Demo User</p>
                </div>
                <div class="navbarFlex">
                    <div class="userLogo">
                        <img src="/images/logo.png" alt="user" />
                    </div>
                    <a href="/logout"> <button id="button " class="button"> Log out
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</div>