<div class="navbar">
  <div class="navbarWrap">
    <div class="navbarRow">
      <button class="hamburgerMenu hamburgerMenuOpen">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
    <div class="navbarRow">
      <div class="userNavbar">
        <div class="userLogo">
        
        </div>
        <div class="userLogged">User : </div>
        <div class="navbarFlex">
          <div class="userLogo">
            <img src="/images/logo.png" alt="user" /> 
          </div>
          <div class="logout clickable">Logout</div>
        </div>
      </div>
    </div>
  </div>
</div>
